# This file contains access rules for the website:
# - 'allow' specifies countries that are explicitly allowed to access the site.
# - 'block' specifies countries that are explicitly denied access to the site.
# - 'only' specifies countries that are granted special access, overriding other restrictions.

allow:USA         # Visitors from the USA are explicitly allowed.
allow:Canada      # Visitors from Canada are explicitly allowed.
block:India       # Visitors from India are explicitly blocked.
block:Israel      # Visitors from Israel are explicitly blocked.
only:Malaysia # Visitors from Malaysia are treated as Main Users, granted access regardless of other rules.
